{% extends "layout.html" %}
{% block content %}

<h4 class="mb-3">Daftar Claim</h4>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Claim ID</th>
            <th>Nama Pasien</th>
            <th>NIK</th>
            <th>Total Klaim</th>
            <th>Status</th>
            <th>Dibuat</th>
        </tr>
    </thead>

    <tbody>
        {% for c in claims %}
        <tr>
            <td>{{ c.claim_id }}</td>
            <td>{{ c.patient_name }}</td>
            <td>{{ c.patient_nik }}</td>
            <td>{{ c.total_claim_amount }}</td>
            <td>{{ c.status }}</td>
            <td>{{ c.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}